@font-face { font-family: "titulos";
             src: url("../fonts/VINERITC.ttf")format("truetype");

}

body {
      background: #3E2723 url(../imagenes/santa4.jpg) fixed no-repeat;
      background-size: cover;}

header {
        width: 100vw;
        display: flex; justify-content:space-between;
        flex-wrap:wrap;}

.encabezados {line-height: 1%;
              color:  #FFFFFF;
              font-family: titulos;
               text-decoration: underline;
             text-align: center;
             display: flex; flex-direction:column;
             justify-content: center;}

.logo {width: 30%;
      display: flex;align-items: center;
    justify-content: center;}

.logo1{height: 8em;}

.redes1 {width: 30%;
        display: flex;
      align-items: center;
    }

nav {width: 100vw;
      height: 10vh;
      background:  #082540;
      display: flex;
      justify-content: space-around;
    align-items: center;}

a{
  color:#FFFFFF;
  text-align: center;}

a:hover{
         color: #D2B4DE ;
          font-size: 2rem;
          text-decoration:overline;
          }

aside  {width: 100vw;
       height: 25vh;
       display: flex; justify-content: space-around;
     box-sizing: border-box;}

.titulo1 {
        font-family: titulos;
          color:  #FFFFFF;
          text-decoration: underline;
          text-align: center;
          }

.parrafo {width: 70%;
         text-align: justify;
          background:  #082540;
          color: #FFFFFF;
          font-style: italic;
          overflow:auto;
         padding-left: 25px;
         padding-right: 25px;
         outline: 5px solid #FDFEFE;
         display: flex; flex-direction: column; }

.imagen1{width: 15%;
         height: 100% }

.foto1{outline: 5px solid #FDFEFE;
       width: 100%;
       height: 100%;}

.mapa {width: 15%;
      outline: 5px solid #FDFEFE;
      height: 100%;}

main {
     width: 100vw;
     display: flex;
     flex-direction: column;
    }

.titulos{
        font-family: titulos;
         color:  #FFFFFF;
         text-decoration: underline;
         text-align: center;
         display: flex; flex-direction: column; }

section {width: 100vw;
        display: flex;
        justify-content: space-around;
         box-sizing: border-box;}

.ingredientes{width: 35%;
             color:  #FFFFFF;
             display: flex;flex-direction: column;
             align-items:center;
            }
.titulo2{
         font-family: titulos;
         display: flex;align-self:center;}

.imagen2{height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
         }

.foto2{outline: 5px solid #FDFEFE;
       text-align: center;
       height: 80%;
       width: 80%;}

.titulo3{font-family: titulos;}
.acompañamiento {width: 35%;
                 color: #FFFFFF;
                display: flex;flex-direction: column;
                align-items: center;}

 .lista3 {
          color: #FFFFFF;
          display: flex; flex-direction: column; align-items: center;}
.titulo4{
          font-family: titulos;
        color:  #FFFFFF;
        text-decoration: underline;
        text-align: center;
        }

.texto1{
       color:  #FFFFFF;
       text-align: center;
       }



footer {height: 15vh;
       background:#082540;
       display: flex;
       align-items: center;
       justify-content: space-around;
       flex-wrap: wrap;}

.mapa2{width: 30%;
       display: flex;justify-content: center;}

.redes2 {
         width: 30%;
         display: flex;
         align-items: center;
       }


.redes {width: 25%;
       height: 25%;}

.firma {width: 30%;
       font-style: italic;
       color: #FFFFFF ;
       text-align: center;
       display: flex; flex-direction: column;
     justify-content: center;}

.icono {width: 5%; position: fixed;bottom: 10px; right: 10px;}

.contactos {display: flex;flex-direction: column;
           }

.titulocontactos{ font-family: "titulos";
                color:  #FFFFFF;
               text-align: center;}

 .textocontactos{font-size: 2rem;
                 color:  #FFFFFF;
                text-align:center;}
